
:root{
    --primary-color: #202022;
    --secondary-color: #272729;
    --tertiary-color:rgba(255, 255, 255, 0.63);
    --plain-color: #FF5D00;
    --margin: 5rem;
}

@font-face {
    font-family: Quint;
    src: url("../Fonts/Quint-Bold.woff")
}
@font-face {
    font-family: Popreg;
    src: url("../Fonts/Poppins-Regular.ttf")
}
@font-face {
    font-family: Popblack;
    src: url("../Fonts/Poppins-Bold.ttf")
}

*{
    transition: .5s all;
}
body{
    padding: 0;
    height: 100vh;
    margin: 0;
    color: var(--tertiary-color);
    font-family: Popreg;
    background-color: var(--primary-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

h1{
    font-size: 3rem;
    font-family: Popblack;
    margin: 0;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    position: relative;
}

h3{
    position: relative;
    font-size: 1rem;
    font-weight: normal;
}

.page{
    width: 100vw;
    height: 100vh;
    /* background-color: var(--primary-color); */
    overflow: hidden;
    position: relative;
}

.pattern{
    content: " ";
    background: url("../media/images/pattern.svg");
    position: absolute;
    width: inherit;
    height: inherit;
    inset: 0;
    /* background-color: red; */
    z-index: -1;
    opacity: .01;
    position: fixed;
}
.but{
    background-color: var(--plain-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    margin: 0 10px 0 0;
    width: 130px;
    height: 40px;
    border: 0;
    font-size:1rem ;
    margin-top: 3px;
    cursor: pointer;
    background-color: var(--plain-color);
    transition: .5s all;
}
.but:hover{
    background: none;
    border-bottom:1px #FF5D00 solid;
    border-top:1px red solid;
    box-shadow: 0px 0px 4px#FF5D00;

}


.navBar{
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    backdrop-filter: blur(50px);
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.navBar a{
    text-decoration: none;
    color: var(--tertiary-color);
    margin: 0 30px 0 0;
    font-size: .8rem;
}
.navBar a.active{
    border-bottom: 1px var(--plain-color) solid;

}
.navBar a:hover{
    border-bottom: 1px var(--plain-color) solid;

}
.navBar .middle{
    place-self: center;


}
.left-nav{
    font-family: Quint;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--margin);
    color: #ff9350;
    letter-spacing: 3px;
    
}
.right-nav{
    align-items: center;
    place-self: center;
}
.right-nav img{
    width: 17px;
}
.right-nav input{
    background-color: transparent;
    border:  0;
    border-bottom:1px solid white ;
    margin-left: 5px;
    transform :translateY(-8px);
    color: white;
    padding: 5px;
    font-size: .8rem;
}

.card{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 6px;
    background-image:  url("../media/images/background.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px;
    overflow: hidden;
    
}
.fade-in{
    animation: fade-in linear forwards;
    /* background-color: rebeccapurple; */
    animation-timeline: view();
    animation-range: entry 0 50vh ;
    
}
footer{
    margin-top: 50px;
    z-index: 4;
    background-color: black;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .sections{
    height: 45%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-bottom: 20px;
}

footer .logo{
    font-family: Quint;
    margin-left: 100px;
    margin-bottom: 20px;
}
footer .sections section{
    display: flex;
    flex-direction: column;
}
footer section h4{
    font-size: .8rem;
    font-weight: normal;
    font-family: popReg;
}
footer section h3{
    color: var(--plain-color);
}
footer section h3,h4{
    margin: 0;
}
footer section.one .contact{
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: visible;
}

footer section.one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
footer section.two a{
    color: var(--tertiary-color);
    text-decoration: none;
    /* background-color: #FF5D00; */
}
footer section.two a:hover{
    text-decoration: underline;
}
footer section.three button{
    height: 30px;
}

footer section.three input{
    border: 0;
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    margin: 20px 0;
}
footer .socials i:hover{
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 5px #ff9350, 
    0px 0px 15px #ff9350,
    0px 0px 20px #ff9350,
    0px 0px 40px #ff9350,
    0px 0px 98px #ff0000,
    0px 0px 10px #ff8d00;
    
}
footer hr{

    width: 100%;
}
footer .socials{
    color: var(--plain-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 20px;
    height: 90px;
    width: 100%;
}

@keyframes fade-in{
    from{
        opacity: 0;
        scale: .8;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}
@media (max-width: 768px) {
    footer{
        height: fit-content;
        .sections{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;

            .two{
                width: 60%;
                margin-bottom: 50px;

            }
        }
        
    }
    .navBar{
        grid-template-columns:300px 1fr; 
        padding-left: 10px;

        input,.left-nav {
            display: none;
        }
    }
}

