.page {
  margin-top: 8%;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}
h1 {
  text-align: center;
  /* margin-top: 60px; */
}
.card {
  box-sizing: content-box;
  /* background-color: red; */
  width: 150px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 0px 5px #ff9350, inset 0px 0px 15px #ff9350,
    0px 0px 98px #ff0000, 0px 0px 10px #ff8d00;
}
.card :not(.fade) {
  z-index: 1;
}
.fade {
  width: 100%;
  position: absolute;
  inset: 0;
  height: 100%;
}
.card .fade {
  background-image: url("../media/images/fade card.png");
  background-size: cover;
}
.card h3 {
  margin: 5px;
}

.card:hover h3 {
  color: #fff6a9;
  text-shadow: 0px 0px 5px #ff9350, 0px 0px 15px #ff9350, 0px 0px 20px #ff9350,
    0px 0px 40px #ff9350, 0px 0px 98px #ff0000, 0px 0px 10px #ff8d00;
}

.group {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  place-self: center;
  gap: 20px;
  margin-top: 10px;
}
.genre-bar h3 {
  color: var(--plain-color);
}
.genre-bar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.genre-bar button {
  background-color: transparent;
  font-size: 0.8rem;
  border: 0;
  color: white;
}
.genre-bar .selected {
  text-decoration: underline;
  /* border-bottom: 1px solid white; */
}
.genre-bar button:hover {
  color: var(--plain-color);
  /* text-decoration: underline; */
}
@media (max-width: 768px) {
  .page {
    margin-top: 80px;
  }
  .group {
    width: fit-content;

    grid-template-columns: repeat(2, 150px);
  }
  .genre-bar {
    gap: 5px;
    margin-bottom: 50px;
  }

  .genre-bar h3 {
    display: none;
  }
}
