.page {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.page > h2 {
  width: 70%;
  margin-bottom: 40px;
}
.content {
  text-align: left;
  margin-top: 50px;
  width: 70%;
}

.image {
  width: 70%;
  height: 300px;
  /* background-color: rebeccapurple; */
  background-image: url("../media/images/background.jpg");
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .image {
    width: 100%;
    height: 200px;
  }
  .content {
    width: 90%;
  }
  .page > h2 {
    width: 90%;
  }
  .page {
    margin-top: 20%;
  }
}
