.page{
    margin-top: 5%;
    position: relative;
    overflow-x: hidden;
    padding-left: var(--margin);
    /* background-color: red; */
}
.blur{
    width:  90%;
    height: 70%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-image: url("../media/game images/Apex Legends/Big.jpg");
    filter: blur(60px);
    background-color: rebeccapurple;
    z-index: -1;

}
.content{
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
    
}
.content::-webkit-scrollbar{
    display: none;
    height: 85%;
}
.page1{
    padding-top: 20px;
    height: 50vh;

}
.page1 .image{
    margin-top: 20px;
    width:  90%;
    height: 80%;
    /* background-color: bisque; */
    border-radius: 20px;
    /* background-image: url("../media/images/Apex.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(25, 24, 31, 0.979);
    
}
.page1 .image *:not(.fade){
    margin-left: 30px;
    z-index: 3;
}
.page1 .image .fade {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    /* background-color: red; */
    background-image: url("../media/images/fade news.png");
    background-size: cover;
    background-position: center;
    
}
.page1 .image h1{
    margin: 0;
}

.page1 .image h2{
    font-size: 2em;
    margin-bottom: 0;
}
h3{
    font-size: .8rem;
    width: 260px;
    margin-top: 0;
    margin-bottom: 0;
}
.game-genre{
    color: var(--plain-color);
}

.fade {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-image: url("../media/images/fade\ news.png");
    background-size: cover;
    background-position: center;
    
}


.page2{
    margin-top: 0;
    height: fit-content;
    /* background-color: red; */
    display: flex;
    gap: 40px;
    /* background-color: red; */
    overflow-y: scroll;
}

.page2 .content{
    box-sizing: border-box;
    width: 67%;
    margin-top: 20px;
    height: 85%;
    overflow-y: scroll;
    /* background-color: aqua; */
}
.page2 .content::-webkit-scrollbar{
    display: none;
}
.page2 .desc h3{
    width: 100%;
    font-size: 1rem;
    

}

.page2 .desc{
    font-size: .8rem;
    
    width: 95%;
    max-height: 200px;
    margin-bottom: 50px;
    position: relative;

}
.page2 .ratings h2{
    
    margin: 20px 0;
    font-family: popBlack;
    /* background-color: rebeccapurple; */
}
.page2 .ratings .rate-number{
    width: 100px;
    /* background-color: red; */
}
.page2 .chart{
    display: grid;
    grid-template-columns: auto repeat(2,1fr);
    align-items: center;
}
.stars{
    font-size: .8rem;
}
.checked {
    color:var(--plain-color);
  }
.page2 .chart .ranges input::-webkit-slider-thumb{
    appearance: none;
}
.page2 .chart .ranges input{
    width: 95%;
    background-color: var(--plain-color);
    border-radius: 30px;
    height: 8px;
    appearance: none;

}
.page2 .add-rating .stars{
    font-size: 2rem;
}
.page2 .add-rating h3{
    width: fit-content;


}
.page2 .add-rating{
    background-color: var(--secondary-color);
    margin-top: 20px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}





.page2 .similar{
    margin-top: 20px;
    width: 20%;
    height: 500px;
    background-color: var(--secondary-color);
    padding: 20px;
    box-sizing: border-box;
    /* background-color:   red; */
    border-radius: 20px;
    /* position: absolute;*/
    overflow:hidden scroll;
    position: relative;
}
.similar::-webkit-scrollbar{
    display: none;
}
.similar .image .fade{
    background-image: url("../media/images/fade\ news\ 3.png");
    
}
.similar .image{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-image: url("../media/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-color: red;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transform: .2s all;
    cursor: pointer;
}

.similar .image  h3{
    width: 70%;
    font-size: .7rem;
}
.event-name{
    width: fit-content;
    /* color: var(--plain-color); */
}
.similar .image:hover{
    scale: 1.05;
    color: var(--plain-color);
}

.page3{
    height: fit-content;
    
}
.page3 h2{
    font-family: popBlack;
}

.page3 header h3{
    width: fit-content;
    font-size: .6rem;
}
.page3 header{
    display: flex;
    align-items: center;
    width: 20%;
}
.page3 .comment{
    width: 100%;
    margin-bottom: 40px;
    /* background-color: red; */
}

.page3 .comment .content{
    font-size: .8rem;
}

.page3 .comment-name{
    font-size: .8rem;
    margin: 0 5px 5px 0;
    color: var(--plain-color);
}

.page3 input[type="text"]{
    border: 0;
    width: 70%;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: 5px;
    display: inline;
    margin-bottom: 40px;
    color: white;
}
.comments{
    width: 67%;
    position: relative;
}
#submitComment{
    position: absolute;
    top: 0;
    left: 75%;
}
.news{
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;
    height: fit-content;
    /* background-color: rebeccapurple; */
    width: 67%;
}

.news-card{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
    /* background-color: red; */
    border-bottom:2px solid var(--secondary-color) ;
    margin-bottom: 20px;
    cursor: pointer;
    height: 174px;
    overflow: hidden;
}
.news-card header h3{
    width: fit-content;
    font-size: .6rem;
    color: var(--plain-color);
}
.news-card header{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}
.news-card:hover .news-content{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .but{
        width: 80px;
        height: 30px;
    }
    .page{
        margin: 0;
        padding: 5px;

    }
    .page1{
        margin-top:80px ;
        height: fit-content;

        .image{
            width: 100%;
            height: 200px;
        }
    }
    .page2{
        flex-direction: column;
        height: fit-content;

        .content{
            width: 100%;
        }
        .desc{
            width: 100%;
            margin-bottom:80px ;
        }
        .add-rating{
            width: 100%;
            height: 50px;
            margin-top: 20px;

            span{
                font-size: 20px;
            }
           
        }
        
        .chart{
            padding: 8px;
            display: grid;
            grid-template-columns: 90px 90fr;
            align-items: center;
        }

    }
    .page3{
        margin-top: 80px;

        .comments{
            width: 100%;
            input{
                width: 65%;
            }
            header{
                width: fit-content;
            }
        }
      

        .news{
            width: 100%;
            margin-top: 20px;
            gap: 0px;
            justify-content: center;
            padding: 0;

            .news-card{
                width: 80%; ;
                padding: 0;
                margin-bottom: 30px;
                height: 120px;
                border-bottom: 2px solid var(--secondary-color);
            }

            
            header{
                width: 100%;
            }
        }
    }

    .similar{
        display: none;
    }
}
    