.loading {
  animation: loading 1.5s alternate infinite;
  border: 0;
}

.mask {
  mask: linear-gradient(white, transparent 80%);
}
.mask-about {
  mask: linear-gradient(white, transparent 80%);
}
* {
  transition: 0.3s all;
}
.game-card:hover {
  transform: scale(1.05);
}

.game-card:hover img {
  transform: scale(1.05);
  transition: 0.5s all;
}
.news-card a:hover {
  background: transparent;
  color: white;
  border: 0.5px solid orange;
}

.news-card:hover img {
  transform: scale(1.05);
  transition: 0.5s all;
}

@keyframes loading {
  from {
    background-color: #cbc9cf1a;
  }
  to {
    background-color: #cbc9cf2f;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

[data-animated="true"] .scroller__inner {
  animation: scroll 20s linear infinite;
}
