@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@source "../.flowbite-react/class-list.json";

body {
  font-family: "Jockey One", sans-serif;
}
